////////////////////////////////////////////////////////////////////////
// THEME TYPOGRAPHY
////////////////////////////////////////////////////////////////////////

body
  font-size: $body-font-size
  font-family: $font-primary
  color: $color-primary
  text-transform: uppercase
h1
  font-size: 3em
h2
  font-size: 2.125em
  font-weight: $semibold
  margin: 0
h3
  font-size: 1.2em
h4
  font-size: 1em
h5
  font-size: 0.8em
h6
  font-size: 0.6em
p
  margin-top: 0.5em
  margin-bottom: 0
  line-height: $body-line-height
 
	
a
  text-decoration: none

q
  font-size: 1.5em
blockquote
  font-style: italic
