//					a.item(href="http://www.autohidraulika.lt/", target="_blank")
//
//						.item__logo
//
//							img(src='assets/images/logos/Vairo-centras-logo.jpg', alt='Autohidraulika vairas')
//
//
//						img.item__center(src='assets/images/products/1as.jpg', alt='Autohidraulika vairas')
//
//						.item__info
//							h2 Autohidraulika
//							p Specializuotas vairo sistemų servisas










//mixin category(productLink, number, productHeadline, intro)
//	.col.md-4-12
//		a(href='' + productLink)
//			.categories__item
//				.number #{number}
//				h3 #{productHeadline}
//				p #{intro}

