//mixin	products ()
//  .col.md-4-16.col.sm-8-16.col.xs-16-16
//		a.item
//
//			.logo
//				.img-box
//					img(src='assets/images/logos/Vairo-centras-logo.jpg', alt='Autohidraulika vairas')
//
//			.img-box.center
//				img(src='assets/images/products/img1.jpg', alt='Autohidraulika vairas')
//
//			.info
//				h2 Autohidraulika
//				p Specializuotas vairo sistemų servisas









//mixin category(productLink, number, productHeadline, intro)
//	.col.md-4-12
//		a(href='' + productLink)
//			.categories__item
//				.number #{number}
//				h3 #{productHeadline}
//				p #{intro}

