doctype html
html(lang="lt")
	//- HEAD
	include includes/global/global_head
	//- BODY
	body

		//- Page container
		#page-container

			//- Header
			include includes/global/global_header

			//- Main
			main
				.grid
					.row
						.col.xs-12-12
							h1 This is awesome

			//- Footer
			include includes/global/global_footer
