doctype html
html(lang="lt")
	//- HEAD
	include includes/global/global_head
	//- BODY
	body

		//- Page container
		#page-container

			//- Header
			include includes/global/global_header
			//- Mixin
			include includes/mixins

			//- Main
			main
				
				.grid.grid.grid--full 
					.row.row--no-gutter 
						.col.xs-16-16
						
							a.item(href="http://www.autohidraulika.lt/", target="_blank")

								.logo

									img(src='assets/images/logos/Vairo-centras-logo.jpg', alt='Autohidraulika vairas')


								img.center(src='assets/images/products/img1.jpg', alt='Autohidraulika vairas')

								.info
									h2 Autohidraulika
									p Specializuotas vairo sistemų servisas



							a.item(href="https://www.atg-components.com/", target="_blank")

								.logo

									img(src='assets/images/logos/atg.jpg', alt='atg logo')


								img.center(src='assets/images/products/img2.jpg', alt='atg components')

								.info
									h2 atg components
									p Vairo sistemų remonto komponentai




							a.item(href="https://www.motorherz.us/", target="_blank")

								.logo

									img(src='assets/images/logos/motorherz.jpg', alt='logo motorherz')


								img.center.motorherz(src='assets/images/products/img3.jpg', alt='motorherz vairo kolonelės')

								.info
									h2 motorherz
									p Mažmeninė prekyba vairo kolonėlėmis


							a.item.last(href="https://www.epstesting.com/", target="_blank")

								.logo

									img(src='assets/images/logos/athidraulic.jpg', alt='athidraulic logo')

								img.center(src='assets/images/products/img4.jpg', alt='eps testing vairo sistemos')

								.info
									h2 eps testing
									p Vairo sistemų agregatų testavimo įranga

			//- Footer
			include includes/global/global_footer
